<!--
  Generated template for the Projects page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Projects</ion-title>

    <ion-buttons end right>
    	<button ion-button (click)="logout()">
    		<ion-icon name="exit"></ion-icon>
    	</button>
    </ion-buttons>	
  </ion-navbar>

</ion-header>


<ion-content padding>

  <h4 center *ngIf="!projects || projects && !projects.length">No Project created yet.</h4>

  <ion-list *ngIf="projects"> 
    <ion-item-sliding *ngFor="let p of projects" #slidingItem>
    <ion-item >
      {{ p.name }}
      
    </ion-item> 

    <ion-item-options side="right">
        <button ion-button (click)="editProject(p)">
          Edit
        </button>
        <button ion-button color="danger" (click)="deleteProject(p, slidingItem)">
          Delete
        </button>
      </ion-item-options>
    </ion-item-sliding>
  </ion-list>

    <ion-fab right bottom>
      <button ion-fab mini (click)="createProject()"><ion-icon name="add"></ion-icon></button>
    </ion-fab>
</ion-content>
