<!--
  Generated template for the CreateProject page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>CreateProject</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
	<form [formGroup]="form" (submit)="save()">
	
		<ion-item>
			<ion-label>
				Project Name
			</ion-label>

			<ion-input formControlName="name">
			</ion-input>
		</ion-item>

		<br />

		<button ion-button block [disabled]="isSaving || !form.valid">Create Project</button>

	</form>
</ion-content>
