<!--
  Generated template for the Login page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>Login</ion-title>
  </ion-navbar>

</ion-header>

<ion-content padding>
	<form [formGroup]="form" (submit)="login()">
		<ion-item>
			<ion-label>
				<ion-icon name="mail"></ion-icon>
			</ion-label>
			<ion-input type="mail" formControlName="mail" placeholder="Email"></ion-input>
		</ion-item>
		<ion-item>
			<ion-label>
				<ion-icon name="key"></ion-icon>
			</ion-label>
			<ion-input type="password" formControlName="password" placeholder="Password"></ion-input>
		</ion-item>

		<br />
		<button block ion-button [disabled]="isLoggingIn || !form.valid"> 
			Login
			<ion-spinner padding name="dots" color="light" *ngIf="isLoggingIn"></ion-spinner>	
		</button>
	</form>
</ion-content>
